body {
  color: #141d22;
  font-family: var(--f-country-simple-family);
  font-weight: 400;
  font-size: var(--t-html-font-size);
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
body {
  /* CSS Variables that may have been missed get put on body */
  --f-latin-headers: "Poppins", "aktiv-grotesk";
  --f-default: sans-serif;
  --f-country-heading-family: var(--f-latin-headers), var(--f-default);
  --f-latin: "aktiv-grotesk";
  --f-country-simple-family: var(--f-latin), var(--f-default);
  --f-country-heading-family: var(--f-latin-headers), var(--f-default);
  --f-country-simple-family: var(--f-latin), var(--f-default);
}

* {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  color: var(--c-text-primary);
  font-family: var(--f-country-simple-family);
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  color: #141d22;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background-color: #f8f9f9;
}

body:lang(en) {
  --f-country-heading-family: var(--f-latin-headers), var(--f-default);
  --f-country-simple-family: var(--f-latin), var(--f-default);
  font-family: var(--f-country-simple-family);
}

html {
  --f-country-heading-family: var(--f-default);
  --f-country-simple-family: var(--f-default);
  font-size: var(--t-html-font-size);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

:root {
  --t-html-font-size: 16px;
  --f-default: sans-serif;
  --f-latin: "aktiv-grotesk";
  --f-latin-headers: "Poppins", "aktiv-grotesk";
}

html:lang(en) {
  --f-country-heading-family: var(--f-latin-headers), var(--f-default);
  --f-country-simple-family: var(--f-latin), var(--f-default);
  font-family: var(--f-country-simple-family);
}

*,
:before,
:after {
  box-sizing: inherit;
}

.mui-tz8oua {
  position: relative;
  box-sizing: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center;
  color: #edf0f2;
  padding: 32px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: calc(100vw / 0.75);
}

@media (min-width: 576px) {
  .mui-tz8oua {
    padding: 64px 32px;
  }
}

@media (min-width: 768px) {
  .mui-tz8oua {
    padding: 96px 64px;
  }
}

@media (min-width: 992px) {
  .mui-tz8oua {
    padding: 96px 64px;
  }
}

@media (min-width: 1200px) {
  .mui-tz8oua {
    padding: 128px 96px;
  }
}

@media (min-width: 576px) {
  .mui-tz8oua {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: calc(100vw / 2.5);
  }
}

.mui-1fs3qx3 {
  position: relative;
  box-sizing: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center;
  color: #141d22;
  margin: 64px 24px;
}

@media (min-width: 576px) {
  .mui-1fs3qx3 {
    margin: 64px 32px;
  }
}

@media (min-width: 768px) {
  .mui-1fs3qx3 {
    margin: 96px 64px;
  }
}

@media (min-width: 992px) {
  .mui-1fs3qx3 {
    margin: 96px 64px;
  }
}

@media (min-width: 1200px) {
  .mui-1fs3qx3 {
    margin: 128px 96px;
  }
}

.mui-z3kkme {
  position: relative;
  box-sizing: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center;
  color: #edf0f2;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  margin-bottom: 64px;
  padding-top: 144px;
}

@media (min-width: 576px) {
  .mui-z3kkme {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 64px;
    margin-bottom: 64px;
    padding-top: 96px;
  }
}

@media (min-width: 768px) {
  .mui-z3kkme {
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

@media (min-width: 992px) {
  .mui-z3kkme {
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

@media (min-width: 1200px) {
  .mui-z3kkme {
    padding-left: 96px;
    padding-right: 96px;
    margin-top: 128px;
    margin-bottom: 128px;
    padding-top: 144px;
  }
}

@media (min-width: 576px) {
  .mui-1aozlx9 {
    width: 65%;
  }
}

@media (min-width: 992px) {
  .mui-1aozlx9 {
    width: 560px;
  }
}

@media (min-width: 1200px) {
  .mui-1aozlx9 {
    width: 656px;
  }
}

.mui-7lg3qn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 32px;
}

@media (min-width: 576px) {
  .mui-7lg3qn {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .mui-7lg3qn {
    margin-top: 48px;
  }
}

.mui-3kiahn {
  position: absolute !important;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.mui-q1p55x {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
}

@media (min-width: 1200px) {
  .mui-q1p55x {
    max-width: 1200px;
  }

  .mui-q1p55x {
    max-width: 1280px;
  }
}

.mui-qy4i9q {
  margin: 0;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
}

@media (min-width: 768px) {
  .mui-qy4i9q {
    font-size: 44px;
    line-height: 56px;
  }
}

@media (min-width: 1200px) {
  .mui-qy4i9q {
    font-size: 56px;
    line-height: 72px;
  }
}

.mui-1ynksyi {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
  margin-top: 16px;
  display: none;
}

@media (min-width: 1200px) {
  .mui-1ynksyi {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 992px) {
  .mui-1ynksyi {
    display: block;
  }
}

.mui-nto8m8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 0px) {
  .mui-nto8m8 {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  .mui-nto8m8 {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width: 0px) {
  .mui-nto8m8 {
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

@media (min-width: 576px) {
  .mui-nto8m8 {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.mui-1t2nyq3 {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 24px;
}

@media (min-width: 576px) {
  .mui-1t2nyq3 {
    margin-bottom: 32px;
  }
}

@media (min-width: 992px) {
  .mui-1t2nyq3 {
    margin-bottom: 48px;
  }
}

.mui-y7e0i4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

@media (min-width: 576px) {
  .mui-y7e0i4 {
    grid-gap: 32px;
  }
}

@media (min-width: 768px) {
  .mui-y7e0i4 {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 32px;
  }
}

@media (min-width: 992px) {
  .mui-y7e0i4 {
    grid-gap: 48px;
  }
}

.mui-e8xvo7 {
  margin-bottom: 24px;
}

@media (min-width: 576px) {
  .mui-e8xvo7 {
    margin-bottom: 32px;
  }
}

@media (min-width: 992px) {
  .mui-e8xvo7 {
    margin-bottom: 48px;
  }
}

.mui-1wp1b1q {
  max-width: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 24px;
  color: #ffffff;
  background-color: #6c8595;
  border-radius: 16px;
  white-space: nowrap;
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: default;
  outline: 0;
  -webkit-text-decoration: none;
  text-decoration: none;
  border: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: var(--f-country-simple-family);
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .mui-1wp1b1q {
    margin-bottom: 24px;
  }
}

.mui-e0shem {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 992px) {
  .mui-sgb7aa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 48px;
  }
}

.mui-6uxnhd {
  display: grid;
  gap: 24px;
}

@media (min-width: 576px) {
  .mui-6uxnhd {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
  }
}

@media (min-width: 768px) {
  .mui-6uxnhd {
    gap: 32px;
  }
}

@media (min-width: 992px) {
  .mui-6uxnhd {
    gap: 48px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.mui-1klvm0d {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 288px;
}

@media (min-width: 576px) {
  .mui-1klvm0d {
    height: 192px;
  }
}

@media (min-width: 1200px) {
  .mui-1klvm0d {
    height: 288px;
  }
}

.mui-1uc202o {
  background: #070e20;
  border-radius: 8px;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
  text-align: center;
}

@media (min-width: 768px) {
  .mui-1uc202o {
    gap: 32px;
    padding: 32px;
  }
}

@media (min-width: 992px) {
  .mui-1uc202o {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    gap: 24px;
    padding: 48px;
    text-align: unset;
  }
}

@media (min-width: 1200px) {
  .mui-1uc202o {
    gap: 48px;
  }
}

.mui-mxho7l {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: #ffde02;
  outline: 0;
  border: 1px solid transparent;
  margin: 0;
  border-radius: 4px;
  padding: 8px 22px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #000000;
  font-family: unset;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-transform: none;
  min-width: 100px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: none;
  background: #ffde02;
  min-height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: var(--f-country-simple-family);
}

.mui-mxho7l:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #d1b500;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.mui-mxho7l:hover {
  box-shadow: none;
}

.mui-mxho7l:hover {
  background: #ffe535;
}

.mui-3449y0 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 1px solid transparent;
  margin: 0;
  border-radius: 4px;
  padding: 7px 21px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #edf0f2;
  font-family: unset;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-transform: none;
  min-width: 100px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  background: #6c859529;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  min-height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: var(--f-country-simple-family);
}

.mui-3449y0:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: rgba(108, 133, 149, 0.12);
  border: 1px solid #6c8595;
}

.mui-3449y0:hover {
  box-shadow: none;
}

.mui-3449y0:hover {
  background: #91a3b0;
}

.mui-3449y0:hover {
  background: #6c859533;
  border-color: #91a3b0;
}

.mui-1pnaxnc {
  inset: 0px;
  height: 100%;
  margin: 0px;
  max-width: none;
  padding: 0px;
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.mui-3kiahn [data-main-image] {
  opacity: unset !important;
  object-position: 75% 50%;
}

@media (min-width: 576px) {
  .mui-3kiahn [data-main-image] {
    object-position: 50% 50%;
  }
}

.mui-rgxvn {
  max-width: 312px;
}

@media (min-width: 576px) {
  .mui-rgxvn {
    max-width: 512px;
  }
}

@media (min-width: 768px) {
  .mui-rgxvn {
    max-width: 640px;
  }
}

@media (min-width: 992px) {
  .mui-rgxvn {
    max-width: 560px;
  }
}

@media (min-width: 1200px) {
  .mui-rgxvn {
    max-width: 656px;
  }
}

.mui-1duzieq {
  position: relative;
  overflow: hidden;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .mui-1duzieq {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (min-width: 992px) {
  .mui-bpgr90 {
    display: none;
  }
}

.mui-tavflp {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
}

.mui-1wbz3t9 {
  display: table-header-group;
}

.mui-1xnox0e {
  display: table-row-group;
}

@media (min-width: 992px) {
  .mui-pld8ty {
    grid-column: 2 span;
  }

  .mui-lsx9hz {
    grid-column: 4 span;
  }
}

.mui-qwctqx {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 24px;
}

.mui-10g41b0 {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
}

@media (min-width: 768px) {
  .mui-10g41b0 {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (min-width: 1200px) {
  .mui-10g41b0 {
    font-size: 36px;
    line-height: 48px;
  }
}

.mui-lx6zr0 {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .mui-lx6zr0 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 1200px) {
  .mui-lx6zr0 {
    font-size: 28px;
    line-height: 36px;
  }
}

.mui-149dsrj {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
}

@media (min-width: 1200px) {
  .mui-149dsrj {
    font-size: 16px;
    line-height: 24px;
  }
}

.e1t7zots1 + .mui-lx6zr0 {
  margin-top: 24px;
}

@media (min-width: 992px) {
  .e1t7zots1 + .mui-lx6zr0 {
    margin-top: 48px;
  }
}

.mui-83lel0 {
  overflow: hidden;
  min-height: 48px;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mui-83lel0:after {
  content: " ";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #141d221f;
}

.mui-gsxnj0 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
  width: 100%;
}

@media (min-width: 576px) {
  .mui-gsxnj0 {
    width: 50%;
  }
}

.mui-gsxnj0:hover:not(.mui-gsxnj0:hover.Mui-disabled) {
  color: #141d22;
}

.mui-1ouilfl {
  color: inherit;
  display: table-row;
  vertical-align: top;
  outline: 0;
}

.mui-xvnyqo {
  color: inherit;
  vertical-align: middle;
  outline: 0px;
  display: table-row;
}

.mui-nqv1nx {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .mui-nqv1nx {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (min-width: 1200px) {
  .mui-nqv1nx {
    font-size: 36px;
    line-height: 48px;
  }
}

.mui-j7qwjs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mui-33z759 {
  margin-top: 8px;
}

@media (min-width: 992px) {
  .mui-33z759 {
    margin-top: 12px;
  }
}

.mui-v50i4h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-bottom: 24px;
}

.mui-jmmnp8 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
}

@media (min-width: 768px) {
  .mui-jmmnp8 {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 1200px) {
  .mui-jmmnp8 {
    font-size: 20px;
    line-height: 26px;
  }
}

.mui-139h9r1 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .mui-139h9r1 {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-1h6lj0y {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: 768px) {
  .mui-1h6lj0y {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (min-width: 1200px) {
  .mui-1h6lj0y {
    font-size: 36px;
    line-height: 48px;
  }
}

@media (min-width: 576px) {
  .mui-1h6lj0y {
    margin-bottom: 32px;
  }
}

@media (min-width: 992px) {
  .mui-1h6lj0y {
    text-align: left;
  }
}

.mui-1rbnd2k {
  background-color: #ffffff;
  color: #141d22;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  position: relative;
  -webkit-transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow-anchor: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mui-1rbnd2k:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mui-1rbnd2k:before {
  position: absolute;
  left: 0;
  top: -1px;
  right: 0;
  height: 1px;
  content: "";
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.12);
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mui-1rbnd2k:before {
  display: none;
}

.mui-1rbnd2k:first-of-type:before {
  display: none;
}

.mui-1ll44u1 {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
  color: #edf0f2;
}

@media (min-width: 768px) {
  .mui-1ll44u1 {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (min-width: 1200px) {
  .mui-1ll44u1 {
    font-size: 36px;
    line-height: 48px;
  }
}

.mui-9eks4k {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
  color: #edf0f299;
}

@media (min-width: 1200px) {
  .mui-9eks4k {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 0px) {
  .mui-9eks4k {
    margin-top: 8px;
  }
}

.mui-s23vm5 {
  inset: 0px;
  height: 100%;
  margin: 0px;
  max-width: none;
  padding: 0px;
  position: absolute;
  width: 100%;
  object-fit: contain;
}

.mui-oqr85h {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.mui-oqr85h:-webkit-scrollbar {
  display: none;
}

.mui-1t0s2fz {
  position: relative;
  display: inline-block;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  white-space: nowrap;
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: hidden;
}

.mui-1t0s2fz:-webkit-scrollbar {
  display: none;
}

.mui-93scrh {
  color: #141d22;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  padding: 0;
  position: initial;
  display: block;
  transform-origin: top left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(133% - 24px);
  left: 0;
  top: 0;
  -webkit-transform: translate(14px, -9px) scale(0.75);
  -moz-transform: translate(14px, -9px) scale(0.75);
  -ms-transform: translate(14px, -9px) scale(0.75);
  transform: translate(14px, -9px) scale(0.75);
  -webkit-transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 1;
  pointer-events: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
  margin: 0px 0px 4px;
  font-family: var(--f-country-simple-family);
}

.mui-1uzy2yi {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #141d22;
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 12px;
  font-family: var(--f-country-simple-family);
}

.mui-gsxnj0 .MuiOutlinedInput-root {
  background-color: #ffffff;
}

.mui-gsxnj0 .MuiOutlinedInput-root:hover {
  color: #141d22;
}

.mui-tupx3h {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: initial;
  border-bottom: 1px solid #141d22;
  text-align: left;
  padding: 16px;
  color: #141d22;
  font-family: var(--f-country-simple-family);
}

@media (min-width: 1200px) {
  .mui-tupx3h {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 992px) {
  .mui-tupx3h {
    width: 216px;
  }
}

@media (min-width: 1200px) {
  .mui-tupx3h {
    width: 264px;
  }
}

.mui-tupx3h.MuiTableCell-head {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--f-country-simple-family);
}

@media (min-width: 1200px) {
  .mui-tupx3h.MuiTableCell-head {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-lrbuyq {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: initial;
  border-bottom: 1px solid #141d22;
  text-align: right;
  padding: 16px;
  color: #141d22;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  font-family: var(--f-country-simple-family);
}

@media (min-width: 1200px) {
  .mui-lrbuyq {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-lrbuyq.MuiTableCell-head {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--f-country-simple-family);
}

@media (min-width: 1200px) {
  .mui-lrbuyq.MuiTableCell-head {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-k7moaw {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: initial;
  border-bottom: 1px solid #141d22;
  text-align: right;
  padding: 16px;
  color: #141d22;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  font-family: var(--f-country-simple-family);
  display: none;
}

@media (min-width: 1200px) {
  .mui-k7moaw {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 992px) {
  .mui-k7moaw {
    display: table-cell;
  }
}

.mui-k7moaw.MuiTableCell-head {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--f-country-simple-family);
}

@media (min-width: 1200px) {
  .mui-k7moaw.MuiTableCell-head {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-rldkgt {
  letter-spacing: 0.01071em;
  display: table-cell;
  text-align: left;
  padding: 16px;
  color: rgb(20, 29, 34);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  vertical-align: middle;
  border-bottom: 1px solid rgba(20, 29, 34, 0.12);
}

@media (min-width: 1200px) {
  .mui-rldkgt {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-vxgm6c {
  letter-spacing: 0.01071em;
  display: table-cell;
  text-align: right;
  padding: 16px;
  color: rgb(20, 29, 34);
  flex-direction: row-reverse;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  vertical-align: middle;
  border-bottom: 1px solid rgba(20, 29, 34, 0.12);
}

@media (min-width: 1200px) {
  .mui-vxgm6c {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-pmtfza {
  letter-spacing: 0.01071em;
  text-align: right;
  padding: 16px;
  color: rgb(20, 29, 34);
  flex-direction: row-reverse;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  vertical-align: middle;
  border-bottom: 1px solid rgba(20, 29, 34, 0.12);
  display: none;
}

@media (min-width: 1200px) {
  .mui-pmtfza {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 992px) {
  .mui-pmtfza {
    display: table-cell;
  }
}

.mui-1sxq4w2 {
  grid-column: span 2;
  color: #141d2299;
}

.mui-lua7yd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-top: 1px solid #141d221f;
  border-bottom: 1px solid #141d221f;
  padding: 24px 0px;
  margin-top: 24px;
}

@media (min-width: 576px) {
  .mui-lua7yd {
    margin-top: 32px;
  }
}

@media (min-width: 992px) {
  .mui-lua7yd {
    margin-top: 0px;
  }

  .mui-lua7yd:not(:first-of-type) {
    margin-top: 48px;
  }
}

.mui-1ug0pd5 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  margin-bottom: 16px;
  white-space: pre-line;
  color: #141d2299;
}

@media (min-width: 1200px) {
  .mui-1ug0pd5 {
    font-size: 18px;
    line-height: 26px;
  }
}

.mui-1ug0pd5:last-child {
  margin: 0;
}

.mui-lr3wgm {
  width: 64px;
  height: 64px;
}

@media (min-width: 1200px) {
  .mui-lr3wgm {
    width: 80px;
    height: 80px;
  }
}

.mui-1lbokv3 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 24px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: unset;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 0;
  -webkit-transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.mui-1lbokv3:hover:not(.Mui-disabled) {
  cursor: pointer;
}

.mui-a0y2e3 {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  visibility: hidden;
}

.mui-1h2hfiu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.mui-a82rlv {
  position: absolute;
  height: 4px;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #141d22;
}

.mui-64jwnf {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 8px;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
}

.mui-64jwnf.MuiSelect-select {
  height: auto;
  min-height: 1.4375em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mui-64jwnf.MuiSelect-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.MuiSelect-select.mui-64jwnf {
  min-height: auto;
}

.mui-gsxnj0 .MuiOutlinedInput-input {
  font-family: var(--f-country-simple-family);
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.mui-64jwnf.mui-64jwnf.mui-64jwnf {
  padding-right: 32px;
}

.mui-1k3x8v3 {
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  box-sizing: border-box;
}

.mui-6h5mqa {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 1.5rem;
  -webkit-transition: -webkit-transform 200ms;
  transition: transform 200ms;
  position: absolute;
  right: 7px;
  top: calc(50% - 0.5em);
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.mui-igs3ac {
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  top: -5px;
  left: 0;
  margin: 0;
  padding: 0 8px;
  pointer-events: none;
  border-radius: inherit;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border-color: rgba(0, 0, 0, 0.23);
}

.mui-gsxnj0 .MuiOutlinedInput-notchedOutline {
  top: 0;
}

.mui-gsxnj0 .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-radius: 4px;
  border-color: #141d221f;
}

.mui-l6li2p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
}

@media (min-width: 1200px) {
  .mui-l6li2p {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-lkuq3u {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
  color: #141d2299;
  display: none;
}

@media (min-width: 1200px) {
  .mui-lkuq3u {
    font-size: 13px;
    line-height: 18px;
  }
}

@media (min-width: 992px) {
  .mui-lkuq3u {
    display: block;
  }
}

.mui-1rb1qa {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
}

@media (min-width: 1200px) {
  .mui-1rb1qa {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-1yj4np2 {
  display: flex;
  color: rgb(70, 205, 124);
  -webkit-box-align: center;
  align-items: center;
  margin-top: 4px;
}

.mui-h9ss5o {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
}

@media (min-width: 1200px) {
  .mui-h9ss5o {
    font-size: 18px;
    line-height: 26px;
  }
}

.mui-13h95hl {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

@media (min-width: 992px) {
  .mui-13h95hl {
    grid-template-columns: repeat(1, 1fr);
  }
}

.mui-1kmydw4 {
  margin: 24px 0px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: #141d221f;
  border-bottom-width: thin;
}

.mui-1jqcn2e {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0;
}

.mui-1fx8m19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.54);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-ny5p0o {
  margin-left: 16px;
}

.mui-hboir5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mui-1kgwppu {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 12px 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #141d2299;
  font-family: unset;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-transform: none;
  max-width: 360px;
  min-width: 56px;
  min-height: 56px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  white-space: normal;
  text-align: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--f-country-simple-family);
}

.mui-1kgwppu.Mui-selected {
  color: #ffde02;
}

.mui-1kgwppu.Mui-selected {
  color: #141d22;
}

.mui-1kgwppu:hover:after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #141d22;
  height: 2px;
}

.mui-1in441m {
  float: unset;
  overflow: hidden;
  display: block;
  width: auto;
  padding: 0;
  height: 11px;
  font-size: 0.75em;
  visibility: hidden;
  max-width: 100%;
  -webkit-transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
  transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
  white-space: nowrap;
}

.mui-gsxnj0 .MuiOutlinedInput-notchedOutline legend {
  display: none;
}

.mui-70qvj9 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.mui-wkcaw6 {
  margin: 0px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
}

@media (min-width: 1200px) {
  .mui-wkcaw6 {
    font-size: 13px;
    line-height: 18px;
  }
}

.mui-js2ucm {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
}

@media (min-width: 768px) {
  .mui-js2ucm {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 1200px) {
  .mui-js2ucm {
    font-size: 20px;
    line-height: 26px;
  }
}

.mui-8atqhb {
  width: 100%;
}

.mui-1in441m > span {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  opacity: 0;
  visibility: visible;
}

.mui-823ebu {
  cursor: pointer;
  margin-left: 4px;
  width: 16px;
  height: 16px;
  color: rgba(20, 29, 34, 0.6);
}

@media (min-width: 992px) {
  .mui-823ebu {
    display: none;
  }
}

.mui-ki1d8b {
  user-select: none;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  margin-right: 4px;
  width: 8px;
  height: 8px;
}

.mui-1k3bhn9 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
}

@media (min-width: 1200px) {
  .mui-1k3bhn9 {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-1k3bhn9 + .mui-1k3bhn9 {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .mui-1k3bhn9 + .mui-1k3bhn9 {
    margin-top: 24px;
  }
}

.mui-1rnkwe9 {
  margin: 16px 0px;
}

.mui-1rnkwe9:first-child {
  margin: 0px 0px 16px;
}

.mui-o2kf0d {
  margin: 0;
  white-space: pre-line;
  color: #1172cc;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  text-decoration-color: #1172cc;
  text-underline-offset: auto;
  text-underline-position: under;
}

.mui-o2kf0d:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.mui-1m7akqk:marker {
  font-size: inherit;
}

.mui-ogutpx {
  padding: 0px 0px 24px;
  display: block;
}

.mui-14e32wx {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  margin-bottom: 16px;
  white-space: pre-line;
}

@media (min-width: 1200px) {
  .mui-14e32wx {
    font-size: 13px;
    line-height: 18px;
  }
}

.mui-14e32wx:last-child {
  margin: 0;
}

.mui-14e32wx:last-child {
  margin-bottom: 0;
}

.mui-ekhass {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  margin-bottom: 4px;
}

@media (min-width: 1200px) {
  .mui-ekhass {
    font-size: 13px;
    line-height: 18px;
  }
}

.mui-ekhass:last-of-type {
  margin-bottom: 0;
}

@keyframes mui-auto-fill-cancel {
  0% {
    display: block;
    display: block;
  }
}
/* These were inline style tags. Uses id+class to override almost everything */
#style-eTBhR.style-eTBhR {
  padding-top: 40%;
}
#style-oeqTE.style-oeqTE {
  padding-top: 100%;
}
#style-UJBmW.style-UJBmW {
  width: 99px;
  height: 99px;
  position: absolute;
  top: -9999px;
  overflow: scroll;
}
#style-9GfyW.style-9GfyW {
  margin-bottom: 0px;
}
#style-WPI33.style-WPI33 {
  left: 0px;
  width: 101.188px;
}
#style-76tIE.style-76tIE {
  padding-top: 20%;
}

body {  
  color:#141d22;
  font-family:var(--f-country-simple-family);
  font-weight:400;
  font-size:var(--t-html-font-size);
  line-height:1.5;
  letter-spacing:0.00938em;
}  
body { 
/* CSS Variables that may have been missed get put on body */ 
  --f-latin-headers: "Poppins","aktiv-grotesk"; 
  --f-default: sans-serif; 
  --f-country-heading-family:  var(--f-latin-headers),var(--f-default);  
  --f-latin: "aktiv-grotesk"; 
  --f-country-simple-family:  var(--f-latin),var(--f-default);  
  --f-country-heading-family:  var(--f-latin-headers),var(--f-default);  
  --f-country-simple-family:  var(--f-latin),var(--f-default);  
} 

* { 
  box-sizing: inherit;
} 

body { 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  text-size-adjust: 100%; 
  color: var(--c-text-primary); 
  font-family: var(--f-country-simple-family); 
  text-rendering: optimizeLegibility;
} 

body { 
  margin: 0; 
  color: #141d22; 
  font-family: "Roboto","Helvetica","Arial",sans-serif; 
  font-weight: 400; 
  font-size: 1rem; 
  line-height: 1.5; 
  letter-spacing: 0.00938em; 
  background-color: #f8f9f9;
} 

body:lang(en) { 
  --f-country-heading-family: var(--f-latin-headers),var(--f-default); 
  --f-country-simple-family: var(--f-latin),var(--f-default); 
  font-family: var(--f-country-simple-family);
} 

html { 
  --f-country-heading-family: var(--f-default); 
  --f-country-simple-family: var(--f-default); 
  font-size: var(--t-html-font-size);
} 

html { 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  box-sizing: border-box; 
  -webkit-text-size-adjust: 100%;
} 

:root { 
  --t-html-font-size: 16px; 
  --f-default: sans-serif; 
  --f-latin: "aktiv-grotesk"; 
  --f-latin-headers: "Poppins","aktiv-grotesk"; 
} 

html:lang(en) { 
  --f-country-heading-family: var(--f-latin-headers),var(--f-default); 
  --f-country-simple-family: var(--f-latin),var(--f-default); 
  font-family: var(--f-country-simple-family);
} 

.mui-q1p55x { 
  width: 100%; 
  margin-left: auto; 
  box-sizing: border-box; 
  margin-right: auto; 
  display: block;
} 

@media (min-width: 1200px){ 
.mui-q1p55x { 
  max-width: 1200px;
} 

.mui-q1p55x { 
  max-width: 1280px;
} 
}     

*,:before,:after { 
  box-sizing: inherit;
} 

.mui-1t2nyq3 { 
  text-align: center; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-pack: center; 
  -ms-flex-pack: center; 
  -webkit-justify-content: center; 
  justify-content: center; 
  margin-bottom: 24px;
} 

@media (min-width: 576px){ 
.mui-1t2nyq3 { 
  margin-bottom: 32px;
} 
}     

@media (min-width: 992px){ 
.mui-1t2nyq3 { 
  margin-bottom: 48px;
} 
}     

.mui-y7e0i4 { 
  display: grid; 
  grid-template-columns: 1fr; 
  grid-gap: 24px;
} 

@media (min-width: 576px){ 
.mui-y7e0i4 { 
  grid-gap: 32px;
} 
}     

@media (min-width: 768px){ 
.mui-y7e0i4 { 
  grid-template-columns: 1fr 1fr; 
  grid-auto-rows: 1fr; 
  -webkit-align-items: center; 
  -webkit-box-align: center; 
  -ms-flex-align: center; 
  align-items: center; 
  grid-gap: 32px;
} 
}     

@media (min-width: 992px){ 
.mui-y7e0i4 { 
  grid-gap: 48px;
} 
}     

.mui-rgxvn { 
  max-width: 312px;
} 

@media (min-width: 576px){ 
.mui-rgxvn { 
  max-width: 512px;
} 
}     

@media (min-width: 768px){ 
.mui-rgxvn { 
  max-width: 640px;
} 
}     

@media (min-width: 992px){ 
.mui-rgxvn { 
  max-width: 560px;
} 
}     

@media (min-width: 1200px){ 
.mui-rgxvn { 
  max-width: 656px;
} 
}     

.mui-1duzieq { 
  position: relative; 
  overflow: hidden; 
  -webkit-order: -1; 
  -ms-flex-order: -1; 
  order: -1; 
  border-radius: 8px;
} 

@media (min-width: 768px){ 
.mui-1duzieq { 
  -webkit-order: 1; 
  -ms-flex-order: 1; 
  order: 1;
} 
}     

.mui-10g41b0 { 
  margin: 0; 
  font-size: 28px; 
  line-height: 36px; 
  font-weight: 500; 
  font-family: var(--f-country-heading-family); 
  white-space: pre-line;
} 

@media (min-width: 768px){ 
.mui-10g41b0 { 
  font-size: 32px; 
  line-height: 42px;
} 
}     

@media (min-width: 1200px){ 
.mui-10g41b0 { 
  font-size: 36px; 
  line-height: 48px;
} 
}     

.mui-lx6zr0 { 
  margin: 0; 
  font-size: 20px; 
  line-height: 26px; 
  font-weight: 500; 
  font-family: var(--f-country-heading-family); 
  white-space: pre-line; 
  margin-bottom: 8px;
} 

@media (min-width: 768px){ 
.mui-lx6zr0 { 
  font-size: 24px; 
  line-height: 32px;
} 
}     

@media (min-width: 1200px){ 
.mui-lx6zr0 { 
  font-size: 28px; 
  line-height: 36px;
} 
}     

.mui-149dsrj { 
  margin: 0; 
  font-size: 14px; 
  line-height: 20px; 
  font-weight: 400; 
  font-family: var(--f-country-simple-family); 
  white-space: pre-line;
} 

@media (min-width: 1200px){ 
.mui-149dsrj { 
  font-size: 16px; 
  line-height: 24px;
} 
}     

.e1t7zots1 + .mui-lx6zr0  { 
  margin-top: 24px;
} 

@media (min-width: 992px){ 
.e1t7zots1 + .mui-lx6zr0  { 
  margin-top: 48px;
} 
}     

.mui-s23vm5 { 
  inset: 0px; 
  height: 100%; 
  margin: 0px; 
  max-width: none; 
  padding: 0px; 
  position: absolute; 
  width: 100%; 
  object-fit: contain;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-WZdkH.style-WZdkH {  
 padding-top: 100%;  
}  

.accordion-button:not(.collapsed) {
  background-color: #fff !important;
  box-shadow: none !important;
  color: #000000 !important;
}
