<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link rel="stylesheet" href="./style.css" />
    <link
      data-rh="true"
      rel="icon"
      href="../../media/AT logo mobile.png"
      type="image/png"
    />
  </head>
  <body>
    <header class="snipcss0-0-0-1 snipcss-eaiNW">
      <div class="style_container__7KGQE MuiBox-root muiltr-0 snipcss0-1-1-2">
        <a href="../../index.html">
          <img
                        src="../../assets/logo.png"
                        data-testid="logo"
                        alt="Exness"
                        width="130px"
                      />
         </a>
      </div>
    </header>
    <div class="center">
      <div
        class="style_cardContainer__HIAlR MuiBox-root muiltr-1pkx617 snipcss0-3-3-4 snipcss0-1-1-2 snipcss-sbA3f"
      >
        <div
          class="style_header__8HTIw MuiBox-root muiltr-0 snipcss0-4-4-5 snipcss0-2-2-3"
        >
          <h1
            class="MuiTypography-root MuiTypography-headingsH2 muiltr-17qnfg0 snipcss0-5-5-6 snipcss0-3-3-4"
          >
            Welcome to Exness
          </h1>
        </div>
        <div class="MuiBox-root muiltr-0 snipcss0-4-4-7 snipcss0-2-2-5">
          <div
            class="style_mainTabsBox__A8WU- MuiBox-root muiltr-0 snipcss0-5-7-8 snipcss0-3-5-6"
          >
            <div
              class="MuiTabs-root muiltr-i3vnpn snipcss0-6-8-9 snipcss0-4-6-7"
            >
              <div
                class="MuiTabs-scroller MuiTabs-fixed muiltr-18jpbi7 snipcss0-7-9-10 snipcss0-5-7-8 style-4x7RG"
                id="style-4x7RG"
              >
                <div
                  class="MuiTabs-flexContainer muiltr-1h2hfiu snipcss0-8-10-11 snipcss0-6-8-9"
                  role="tablist"
                >
                  <button
                    class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary MuiTab-fullWidth Mui-selected style_redirectTab__QlFLh muiltr-8tv3we snipcss0-9-11-12 snipcss0-7-9-10"
                    tabindex="0"
                    type="button"
                    role="tab"
                    aria-selected="true"
                  >
                    Sign in</button
                  ><button
                    class="MuiButtonBase-root MuiTab-root MuiTab-textColorPrimary MuiTab-fullWidth style_redirectTab__QlFLh muiltr-8tv3we snipcss0-9-11-13 snipcss0-7-9-11"
                    tabindex="-1"
                    type="button"
                    role="tab"
                    aria-selected="false"
                  >
                    <a
                      href="../registeration/index.html"
                      style="text-decoration: none; color: black"
                    >
                      Create an account</a
                    >
                  </button>
                </div>
                <span
                  class="MuiTabs-indicator muiltr-1sdd0i7 snipcss0-8-10-14 snipcss0-6-8-12 style-3kHVX"
                  id="style-3kHVX"
                  ><span
                    class="MuiTabs-indicatorSpan snipcss0-9-14-15 snipcss0-7-12-13"
                  ></span
                ></span>
              </div>
            </div>
          </div>
          <form
            method="POST"
            autocomplete="off"
            class="snipcss0-5-7-16 snipcss0-3-5-14"
          >
            <div
              class="MuiFormControl-root MuiFormControl-fullWidth MuiTextField-root muiltr-jqq5ny snipcss0-6-16-17 snipcss0-4-14-15"
            >
              <label
                class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiInputLabel-outlined MuiFormLabel-colorPrimary muiltr-a432ux snipcss0-7-17-18 snipcss0-5-15-16"
                data-shrink="true"
                for="mui-1"
                id="mui-1-label"
                >Your email address</label
              >
              <div
                class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-fullWidth MuiInputBase-formControl muiltr-elm78y snipcss0-7-17-19 snipcss0-5-15-17"
              >
                <input
                  aria-invalid="false"
                  name="login"
                  type="email"
                  data-testid="login-field"
                  class="MuiInputBase-input MuiOutlinedInput-input muiltr-9i2f5g snipcss0-8-19-20 snipcss0-6-17-18"
                  value=""
                  id="mui-1"
                />
                <fieldset
                  aria-hidden="true"
                  class="MuiOutlinedInput-notchedOutline muiltr-igs3ac snipcss0-8-19-21 snipcss0-6-17-19"
                >
                  <legend
                    class="muiltr-yjsfm1 snipcss0-9-21-22 snipcss0-7-19-20"
                  >
                    <span class="snipcss0-10-22-23 snipcss0-8-20-21"
                      >Your email address</span
                    >
                  </legend>
                </fieldset>
              </div>
            </div>
            <div
              class="MuiFormControl-root MuiFormControl-fullWidth MuiTextField-root muiltr-jqq5ny snipcss0-6-16-24 snipcss0-4-14-22"
            >
              <label
                class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiInputLabel-outlined MuiFormLabel-colorPrimary muiltr-a432ux snipcss0-7-24-25 snipcss0-5-22-23"
                data-shrink="true"
                for="mui-2"
                id="mui-2-label"
                >Password</label
              >
              <div
                class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-fullWidth MuiInputBase-formControl MuiInputBase-adornedEnd muiltr-15dinrj snipcss0-7-24-26 snipcss0-5-22-24"
              >
                <input
                  aria-invalid="false"
                  name="password"
                  type="password"
                  data-testid="pwd-field"
                  class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputAdornedEnd muiltr-os5o5v snipcss0-8-26-27 snipcss0-6-24-25"
                  value=""
                  id="mui-2"
                />
                <div
                  class="MuiInputAdornment-root MuiInputAdornment-positionEnd MuiInputAdornment-outlined MuiInputAdornment-sizeMedium muiltr-tujksn snipcss0-8-26-28 snipcss0-6-24-26"
                >
                  <button
                    class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorPrimary MuiIconButton-edgeEnd MuiIconButton-sizeMedium muiltr-pgj45i snipcss0-9-28-29 snipcss0-7-26-27"
                    tabindex="0"
                    type="button"
                    aria-label="toggle password visibility"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="tabler-icon tabler-icon-eye-closed snipcss0-10-29-30 snipcss0-8-27-28"
                    >
                      <path
                        d="M21 9c-2.4 2.667 -5.4 4 -9 4c-3.6 0 -6.6 -1.333 -9 -4"
                      ></path>
                      <path d="M3 15l2.5 -3.8"></path>
                      <path d="M21 14.976l-2.492 -3.776"></path>
                      <path d="M9 17l.5 -4"></path>
                      <path d="M15 17l-.5 -4"></path>
                    </svg>
                  </button>
                </div>
                <fieldset
                  aria-hidden="true"
                  class="MuiOutlinedInput-notchedOutline muiltr-igs3ac snipcss0-8-26-31 snipcss0-6-24-29"
                >
                  <legend
                    class="muiltr-yjsfm1 snipcss0-9-31-32 snipcss0-7-29-30"
                  >
                    <span class="snipcss0-10-32-33 snipcss0-8-30-31"
                      >Password</span
                    >
                  </legend>
                </fieldset>
              </div>
            </div>
            <div
              class="MuiBox-root muiltr-1hnm6b6 snipcss0-6-16-34 snipcss0-4-14-32"
            ></div>
            <button
              class="MuiButtonBase-root MuiButton-root MuiLoadingButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-disableElevation MuiButton-fullWidth muiltr-sfbkke snipcss0-6-16-35 snipcss0-4-14-33"
              tabindex="0"
              type="submit"
              data-action="LOGIN"
              data-testid="login-button"
              id="mui-3"
            >
              Continue
            </button>
          </form>
        </div>
      </div>

      <div class="center2">
        <div class="MuiBox-root muiltr-6b5kfi snipcss0-0-0-1 snipcss-nsGUq">
          <p
            class="MuiTypography-root MuiTypography-bodyB1Regular style_warningText__IH1Hh muiltr-1s8r8ae snipcss0-1-1-2"
          >
            Exness does not offer services to residents of certain jurisdictions
            including the USA, Iran, North Korea, the European Union, the United
            Kingdom and others. The content of the website including
            translations should not be construed as means for solicitation.
            Investors make their own and independent decisions.
          </p>
          <p
            class="MuiTypography-root MuiTypography-bodyB1Regular style_warningText__IH1Hh muiltr-1s8r8ae snipcss0-1-1-3"
          >
            Trading in CFDs and generally leveraged products involves
            substantial risk of loss and you may lose all of your invested
            capital.
          </p>
          <div
            class="style_footerSection__mokKB MuiBox-root muiltr-0 snipcss0-0-0-1 snipcss0-1-1-4 tether-element-attached-bottom tether-target-attached-top tether-element-attached-right tether-target-attached-right"
          >
            <div
              class="style_footerParagraph__4LjB8 MuiBox-root muiltr-0 snipcss0-1-1-2 snipcss0-2-4-5"
            >
              <span
                class="MuiTypography-root MuiTypography-captionC1Regular style_footerText__yRR-Y muiltr-z0z6we snipcss0-2-2-3 snipcss0-3-5-6"
                >Exness (SC) Ltd is a Securities Dealer registered in Seychelles
                with registration number 8423606-1 and authorised by the
                Financial Services Authority (FSA) with licence number SD025.
                The registered office of Exness (SC) Ltd is at 9A CT House, 2nd
                floor, Providence, Mahe, Seychelles.</span
              >
            </div>
            <div
              class="style_footerParagraph__4LjB8 MuiBox-root muiltr-0 snipcss0-1-1-4 snipcss0-2-4-7"
            >
              <span
                class="MuiTypography-root MuiTypography-captionC1Regular style_footerText__yRR-Y muiltr-z0z6we snipcss0-2-4-5 snipcss0-3-7-8"
                >Exness B.V. is a Securities Intermediary registered in Curaçao
                with registration number 148698(0) and authorised by the Central
                Bank of Curaçao and Sint Maarten (CBCS) with licence number
                0003LSI. The registered office of Exness B.V. is at Emancipatie
                Boulevard Dominico F. “Don” Martina 31, Curaçao.</span
              >
            </div>
            <div
              class="style_footerParagraph__4LjB8 MuiBox-root muiltr-0 snipcss0-1-1-6 snipcss0-2-4-9"
            >
              <span
                class="MuiTypography-root MuiTypography-captionC1Regular style_footerText__yRR-Y muiltr-z0z6we snipcss0-2-6-7 snipcss0-3-9-10"
                >Exness (VG) Ltd is authorised by the Financial Services
                Commission (FSC) in BVI with registration number 2032226 and
                investment business licence number SIBA/L/20/1133. The
                registered office of Exness (VG) Ltd is at Trinity Chambers,
                P.O. Box 4301, Road Town, Tortola, BVI.</span
              >
            </div>
            <div
              class="style_footerParagraph__4LjB8 MuiBox-root muiltr-0 snipcss0-1-1-8 snipcss0-2-4-11"
            >
              <span
                class="MuiTypography-root MuiTypography-captionC1Regular style_footerText__yRR-Y muiltr-z0z6we snipcss0-2-8-9 snipcss0-3-11-12"
                >The entities above are duly authorised to operate under the
                Exness brand and trademarks</span
              >
            </div>
            <div
              class="style_footerParagraph__4LjB8 MuiBox-root muiltr-0 snipcss0-1-1-10 snipcss0-2-4-13"
            >
              <span
                class="MuiTypography-root MuiTypography-captionC1Regular style_footerText__yRR-Y muiltr-z0z6we snipcss0-2-10-11 snipcss0-3-13-14"
                >Risk Warning: Our services relate to complex derivative
                products (CFDs) which are traded outside an exchange. These
                products come with a high risk of losing money rapidly due to
                leverage and thus are not appropriate for all investors. Under
                no circumstances shall Exness have any liability to any person
                or entity for any loss or damage in whole or part caused by,
                resulting from, or relating to any investing activity.</span
              >
              <a
                class="MuiTypography-root MuiTypography-captionC1Regular MuiLink-root MuiLink-underlineNone muiltr-gt3h37 snipcss0-2-10-12 snipcss0-3-13-15"
                href="./index.html"
                target="_blank"
                rel="noopener noreferrer"
                >Learn more</a
              >
            </div>
            <div
              class="style_footerParagraph__4LjB8 MuiBox-root muiltr-0 snipcss0-1-1-13 snipcss0-2-4-16"
            >
              <span
                class="MuiTypography-root MuiTypography-captionC1Regular style_footerText__yRR-Y muiltr-z0z6we snipcss0-2-13-14 snipcss0-3-16-17"
                >The information on this website does not constitute investment
                advice or a recommendation or a solicitation to engage in any
                investment activity.</span
              >
            </div>
            <div
              class="style_footerParagraph__4LjB8 MuiBox-root muiltr-0 snipcss0-1-1-15 snipcss0-2-4-18"
            >
              <span
                class="MuiTypography-root MuiTypography-captionC1Regular style_footerText__yRR-Y muiltr-z0z6we snipcss0-2-15-16 snipcss0-3-18-19"
                >The information on this website may only be copied with the
                express written permission of Exness.</span
              >
            </div>
            <div
              class="style_footerParagraph__4LjB8 MuiBox-root muiltr-0 snipcss0-1-1-17 snipcss0-2-4-20"
            >
              <span
                class="MuiTypography-root MuiTypography-captionC1Regular style_footerText__yRR-Y muiltr-z0z6we snipcss0-2-17-18 snipcss0-3-20-21"
                >Exness complies with the Payment Card Industry Data Security
                Standard (PCI DSS) to ensure your security and privacy. We
                conduct regular vulnerability scans and penetration tests in
                accordance with the PCI DSS requirements for our business
                model.</span
              >
            </div>
          </div>
          <div
            class="style_linksContainer__B1bZG MuiBox-root muiltr-0 snipcss0-1-1-22"
          >
            <div
              class="style_links__DziGw MuiBox-root muiltr-0 snipcss0-2-22-23"
            >
              <a
                class="MuiTypography-root MuiTypography-captionC1Regular MuiLink-root MuiLink-underlineNone muiltr-psxzyy snipcss0-3-23-24"
                href="./index.html"
                >Privacy Agreement</a
              ><a
                class="MuiTypography-root MuiTypography-captionC1Regular MuiLink-root MuiLink-underlineNone muiltr-psxzyy snipcss0-3-23-25"
                href="./index.html"
                >Risk disclosure</a
              ><a
                class="MuiTypography-root MuiTypography-captionC1Regular MuiLink-root MuiLink-underlineNone muiltr-psxzyy snipcss0-3-23-26"
                href="./index.html"
                >Preventing money laundering</a
              ><a
                class="MuiTypography-root MuiTypography-captionC1Regular MuiLink-root MuiLink-underlineNone muiltr-psxzyy snipcss0-3-23-27"
                href="./index.html"
                >Security instructions</a
              ><a
                class="MuiTypography-root MuiTypography-captionC1Regular MuiLink-root MuiLink-underlineNone muiltr-psxzyy snipcss0-3-23-28"
                href="./index.html"
                >Legal documents</a
              >
            </div>
            <span
              class="MuiTypography-root MuiTypography-captionC1Regular style_copyright__Mg+Am muiltr-z0z6we snipcss0-2-22-29"
              >© 2008-2024. Exness</span
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
