body {
  color: #141d22;
  font-family: var(--f-country-simple-family);
  font-weight: 400;
  font-size: var(--t-html-font-size);
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
body {
  /* CSS Variables that may have been missed get put on body */
  --f-latin-headers: "Poppins", "aktiv-grotesk";
  --f-default: sans-serif;
  --f-country-heading-family: var(--f-latin-headers), var(--f-default);
  --f-latin: "aktiv-grotesk";
  --f-country-simple-family: var(--f-latin), var(--f-default);
  --f-country-heading-family: var(--f-latin-headers), var(--f-default);
  --f-country-simple-family: var(--f-latin), var(--f-default);
}

* {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  color: var(--c-text-primary);
  font-family: var(--f-country-simple-family);
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  color: #141d22;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background-color: #f8f9f9;
}

body:lang(en) {
  --f-country-heading-family: var(--f-latin-headers), var(--f-default);
  --f-country-simple-family: var(--f-latin), var(--f-default);
  font-family: var(--f-country-simple-family);
}

html {
  --f-country-heading-family: var(--f-default);
  --f-country-simple-family: var(--f-default);
  font-size: var(--t-html-font-size);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

:root {
  --t-html-font-size: 16px;
  --f-default: sans-serif;
  --f-latin: "aktiv-grotesk";
  --f-latin-headers: "Poppins", "aktiv-grotesk";
}

html:lang(en) {
  --f-country-heading-family: var(--f-latin-headers), var(--f-default);
  --f-country-simple-family: var(--f-latin), var(--f-default);
  font-family: var(--f-country-simple-family);
}

*,
:before,
:after {
  box-sizing: inherit;
}

.mui-u9y4qs {
  position: relative;
  box-sizing: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center;
  color: #141d22;
  padding: 32px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: calc(100vw / 0.75);
}

@media (min-width: 576px) {
  .mui-u9y4qs {
    padding: 64px 32px;
  }
}

@media (min-width: 768px) {
  .mui-u9y4qs {
    padding: 96px 64px;
  }
}

@media (min-width: 992px) {
  .mui-u9y4qs {
    padding: 96px 64px;
  }
}

@media (min-width: 1200px) {
  .mui-u9y4qs {
    padding: 128px 96px;
  }
}

@media (min-width: 576px) {
  .mui-u9y4qs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: calc(100vw / 2.5);
  }
}

.mui-1fs3qx3 {
  position: relative;
  box-sizing: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center;
  color: #141d22;
  margin: 64px 24px;
}

@media (min-width: 576px) {
  .mui-1fs3qx3 {
    margin: 64px 32px;
  }
}

@media (min-width: 768px) {
  .mui-1fs3qx3 {
    margin: 96px 64px;
  }
}

@media (min-width: 992px) {
  .mui-1fs3qx3 {
    margin: 96px 64px;
  }
}

@media (min-width: 1200px) {
  .mui-1fs3qx3 {
    margin: 128px 96px;
  }
}

.mui-z3kkme {
  position: relative;
  box-sizing: border-box;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center;
  color: #edf0f2;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  margin-bottom: 64px;
  padding-top: 144px;
}

@media (min-width: 576px) {
  .mui-z3kkme {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 64px;
    margin-bottom: 64px;
    padding-top: 96px;
  }
}

@media (min-width: 768px) {
  .mui-z3kkme {
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

@media (min-width: 992px) {
  .mui-z3kkme {
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

@media (min-width: 1200px) {
  .mui-z3kkme {
    padding-left: 96px;
    padding-right: 96px;
    margin-top: 128px;
    margin-bottom: 128px;
    padding-top: 144px;
  }
}

@media (min-width: 576px) {
  .mui-1aozlx9 {
    width: 65%;
  }
}

@media (min-width: 992px) {
  .mui-1aozlx9 {
    width: 560px;
  }
}

@media (min-width: 1200px) {
  .mui-1aozlx9 {
    width: 656px;
  }
}

.mui-7lg3qn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 32px;
}

@media (min-width: 576px) {
  .mui-7lg3qn {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .mui-7lg3qn {
    margin-top: 48px;
  }
}

.mui-3kiahn {
  position: absolute !important;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.mui-q1p55x {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
}

@media (min-width: 1200px) {
  .mui-q1p55x {
    max-width: 1200px;
  }

  .mui-q1p55x {
    max-width: 1280px;
  }
}

.mui-qy4i9q {
  margin: 0;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
}

@media (min-width: 768px) {
  .mui-qy4i9q {
    font-size: 44px;
    line-height: 56px;
  }
}

@media (min-width: 1200px) {
  .mui-qy4i9q {
    font-size: 56px;
    line-height: 72px;
  }
}

.mui-1ynksyi {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
  margin-top: 16px;
  display: none;
}

@media (min-width: 1200px) {
  .mui-1ynksyi {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 992px) {
  .mui-1ynksyi {
    display: block;
  }
}

.mui-1sfkzre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  min-height: 192px;
}

@media (min-width: 0px) {
  .mui-1sfkzre {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  .mui-1sfkzre {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width: 0px) {
  .mui-1sfkzre {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}

@media (min-width: 576px) {
  .mui-1sfkzre {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
  }

  .mui-1sfkzre {
    min-height: 48px;
  }
}

.mui-1t2nyq3 {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 24px;
}

@media (min-width: 576px) {
  .mui-1t2nyq3 {
    margin-bottom: 32px;
  }
}

@media (min-width: 992px) {
  .mui-1t2nyq3 {
    margin-bottom: 48px;
  }
}

.mui-y7e0i4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

@media (min-width: 576px) {
  .mui-y7e0i4 {
    grid-gap: 32px;
  }
}

@media (min-width: 768px) {
  .mui-y7e0i4 {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 32px;
  }
}

@media (min-width: 992px) {
  .mui-y7e0i4 {
    grid-gap: 48px;
  }
}

.mui-1euuyjh {
  display: grid;
  gap: 24px;
}

@media (min-width: 576px) {
  .mui-1euuyjh {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
  }
}

@media (min-width: 768px) {
  .mui-1euuyjh {
    gap: 32px;
  }
}

@media (min-width: 992px) {
  .mui-1euuyjh {
    gap: 48px;
    grid-template-columns: 1fr 1fr;
  }

  .mui-sgb7aa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 48px;
  }
}

.mui-6uxnhd {
  display: grid;
  gap: 24px;
}

@media (min-width: 576px) {
  .mui-6uxnhd {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
  }
}

@media (min-width: 768px) {
  .mui-6uxnhd {
    gap: 32px;
  }
}

@media (min-width: 992px) {
  .mui-6uxnhd {
    gap: 48px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.mui-1klvm0d {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 288px;
}

@media (min-width: 576px) {
  .mui-1klvm0d {
    height: 192px;
  }
}

@media (min-width: 1200px) {
  .mui-1klvm0d {
    height: 288px;
  }
}

.mui-1jidsyi {
  background: #070e20;
  border-radius: 8px;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
  text-align: center;
}

@media (min-width: 768px) {
  .mui-1jidsyi {
    gap: 32px;
    padding: 32px;
  }
}

@media (min-width: 992px) {
  .mui-1jidsyi {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    gap: 24px;
    padding: 48px;
    text-align: unset;
  }
}

@media (min-width: 1200px) {
  .mui-1jidsyi {
    gap: 48px;
  }
}

@media (min-width: 992px) {
  .mui-1jidsyi {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

.mui-1nwm0b8 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: #ffde02;
  outline: 0;
  border: 1px solid transparent;
  margin: 0;
  border-radius: 4px;
  padding: 8px 22px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #000000;
  font-family: unset;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-transform: none;
  min-width: 100px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: none;
  background: #ffde02;
  min-height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: var(--f-country-simple-family);
}

.mui-1nwm0b8:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #d1b500;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.mui-1nwm0b8:hover {
  box-shadow: none;
}

.mui-1nwm0b8:hover {
  background: #ffe535;
}

.mui-1pnaxnc {
  inset: 0px;
  height: 100%;
  margin: 0px;
  max-width: none;
  padding: 0px;
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.mui-3kiahn [data-main-image] {
  opacity: unset !important;
  object-position: 75% 50%;
}

@media (min-width: 576px) {
  .mui-3kiahn [data-main-image] {
    object-position: 50% 50%;
  }
}

.mui-rgxvn {
  max-width: 312px;
}

@media (min-width: 576px) {
  .mui-rgxvn {
    max-width: 512px;
  }
}

@media (min-width: 768px) {
  .mui-rgxvn {
    max-width: 640px;
  }
}

@media (min-width: 992px) {
  .mui-rgxvn {
    max-width: 560px;
  }
}

@media (min-width: 1200px) {
  .mui-rgxvn {
    max-width: 656px;
  }
}

.mui-nolh2r {
  position: relative;
  overflow: hidden;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .mui-nolh2r {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
}

.mui-km4ui {
  background: #f8f9f9;
  color: #141d22;
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 24px;
}

.mui-1duzieq {
  position: relative;
  overflow: hidden;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .mui-1duzieq {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (min-width: 992px) {
  .mui-pld8ty {
    grid-column: 2 span;
  }

  .mui-lsx9hz {
    grid-column: 4 span;
  }
}

.mui-qwctqx {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 24px;
}

.mui-65krer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}

@media (min-width: 0px) {
  .mui-65krer {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .mui-65krer {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width: 0px) {
  .mui-65krer {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .mui-65krer {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
  }
}

.mui-10g41b0 {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
}

@media (min-width: 768px) {
  .mui-10g41b0 {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (min-width: 1200px) {
  .mui-10g41b0 {
    font-size: 36px;
    line-height: 48px;
  }
}

.mui-33z759 {
  margin-top: 8px;
}

@media (min-width: 992px) {
  .mui-33z759 {
    margin-top: 12px;
  }
}

.mui-lx6zr0 {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .mui-lx6zr0 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 1200px) {
  .mui-lx6zr0 {
    font-size: 28px;
    line-height: 36px;
  }
}

.mui-149dsrj {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
}

@media (min-width: 1200px) {
  .mui-149dsrj {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-hix1c1 {
  padding-bottom: 32px;
}

.mui-jmmnp8 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
}

@media (min-width: 768px) {
  .mui-jmmnp8 {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 1200px) {
  .mui-jmmnp8 {
    font-size: 20px;
    line-height: 26px;
  }
}

.mui-139h9r1 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .mui-139h9r1 {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-149dsrj + .mui-149dsrj {
  margin-top: 8px;
}

@media (min-width: 768px) {
  .mui-149dsrj + .mui-149dsrj {
    margin-top: 12px;
  }
}

.mui-nqv1nx {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .mui-nqv1nx {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (min-width: 1200px) {
  .mui-nqv1nx {
    font-size: 36px;
    line-height: 48px;
  }
}

.mui-j7qwjs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mui-v50i4h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-bottom: 24px;
}

.mui-1ll44u1 {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
  color: #edf0f2;
}

@media (min-width: 768px) {
  .mui-1ll44u1 {
    font-size: 32px;
    line-height: 42px;
  }
}

@media (min-width: 1200px) {
  .mui-1ll44u1 {
    font-size: 36px;
    line-height: 48px;
  }
}

.mui-9eks4k {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
  color: #edf0f299;
}

@media (min-width: 1200px) {
  .mui-9eks4k {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 0px) {
  .mui-9eks4k {
    margin-top: 8px;
  }
}

.mui-mxho7l {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  border-radius: 4px;
  text-transform: none;
  color: rgb(0, 0, 0);
  background: rgb(255, 222, 2);
  border: 1px solid transparent;
  min-width: 100px;
  min-height: 48px;
  font-family: var(--f-country-simple-family);
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.mui-mxho7l:hover {
  text-decoration: none;
  background-color: rgb(209, 181, 0);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.mui-mxho7l:hover {
  box-shadow: none;
}

.mui-mxho7l:hover {
  background: rgb(255, 229, 53);
}

.mui-1ug0pd5 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  margin-bottom: 16px;
  white-space: pre-line;
  color: #141d2299;
}

@media (min-width: 1200px) {
  .mui-1ug0pd5 {
    font-size: 18px;
    line-height: 26px;
  }
}

.mui-1ug0pd5:last-child {
  margin: 0;
}

.mui-s23vm5 {
  inset: 0px;
  height: 100%;
  margin: 0px;
  max-width: none;
  padding: 0px;
  position: absolute;
  width: 100%;
  object-fit: contain;
}

.mui-9uy14h {
  width: 24px;
  height: 24px;
}

.mui-o2kf0d {
  margin: 0;
  white-space: pre-line;
  color: #1172cc;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  text-decoration-color: #1172cc;
  text-underline-offset: auto;
  text-underline-position: under;
}

.mui-o2kf0d:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.mui-1sxq4w2 {
  grid-column: span 2;
  color: #141d2299;
}

.mui-lua7yd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-top: 1px solid #141d221f;
  border-bottom: 1px solid #141d221f;
  padding: 24px 0px;
  margin-top: 24px;
}

@media (min-width: 576px) {
  .mui-lua7yd {
    margin-top: 32px;
  }
}

@media (min-width: 992px) {
  .mui-lua7yd {
    margin-top: 0px;
  }

  .mui-lua7yd:not(:first-of-type) {
    margin-top: 48px;
  }
}

.mui-lr3wgm {
  width: 64px;
  height: 64px;
}

@media (min-width: 1200px) {
  .mui-lr3wgm {
    width: 80px;
    height: 80px;
  }
}

.mui-h9ss5o {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
}

@media (min-width: 1200px) {
  .mui-h9ss5o {
    font-size: 18px;
    line-height: 26px;
  }
}

.mui-13h95hl {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

@media (min-width: 992px) {
  .mui-13h95hl {
    grid-template-columns: repeat(1, 1fr);
  }
}

.mui-1kmydw4 {
  margin: 24px 0px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: #141d221f;
  border-bottom-width: thin;
}

.mui-js2ucm {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--f-country-heading-family);
  white-space: pre-line;
}

@media (min-width: 768px) {
  .mui-js2ucm {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 1200px) {
  .mui-js2ucm {
    font-size: 20px;
    line-height: 26px;
  }
}

.mui-1k3bhn9 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
}

@media (min-width: 1200px) {
  .mui-1k3bhn9 {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-1pxi786 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: var(--f-country-simple-family);
  white-space: pre-line;
  color: #141d2299;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  text-decoration-color: #1172cc;
  text-underline-offset: auto;
  text-underline-position: under;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .mui-1pxi786 {
    font-size: 16px;
    line-height: 24px;
  }
}

.mui-1pxi786:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

/* These were inline style tags. Uses id+class to override almost everything */
#style-Dj2Kf.style-Dj2Kf {
  padding-top: 40%;
}
#style-JkCEc.style-JkCEc {
  padding-top: 100%;
}
#style-QovkE.style-QovkE {
  padding-top: 100%;
}
#style-BAklM.style-BAklM {
  padding-top: 20%;
}
